@import "tailwindcss";

@theme {
	--color-base: #888; /*#5F9598;*/
	--color-base-dark: #444;/*#1D546D;*/
	--color-base-bg: #000;/*#061E29;*/

	--color-base-text: #fff;/*#061E29;*/

	--color-gray-text: #aaa;
	--color-gray-text-hover: #ccc;
	--color-gray-text-disabled: #555;

	--color-danger-text: #f55;
	--color-danger-text-hover: #f77;
	--color-danger-text-disabled: #600;
}
